:root {
  --secondary-text-color: #757575;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.tel-link {
  color: var(--secondary-text-color);
}
.studio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.studio-link:active {
  color: var(--accent-color);
}
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contact:active,
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.logo {
  font-family: 'raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  color: #000000;
}

.hero-section {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.btn-filters {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  box-shadow: none;
}
.btn-all:active,
.btn-all:hover,
.btn-all:focus {
  background: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}
.current {
  color: var(--accent-color);
}
.about-section {
  background-color: #f5f5f5;
}
.about-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.work {
  background-color: #f5f5f5;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.member-name {
}
.job-title {
  font-weight: 400;
  color: var(--secondary-text-color);
}
.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-note {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-section {
  background-color: #2f303a;
}
.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.location {
  color: #ffffff;
}
.footer-logo {
  color: #ffffff;
}
